<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vogue.base.mapper.BaseMapper">

    <select id="getAsideMenu" parameterType="hashmap" resultType="hashmap">
        /* 서비스 메뉴 검색, BaseMapper_SQL.getAsideMenu */
        SELECT UPPER.SEQ
             , UPPER.NAME
             , UPPER.DEPTH
             , UPPER.UPPER_SEQ
             , UPPER.SORT
             , UPPER.POST_YN                  AS "postYn"
               -- 상위 카테고리의 PERMISSION
             , ( SELECT COALESCE(JSON_AGG(JSON_BUILD_OBJECT(
                        'access', GUP.ACCESS
                        , 'add',    GUP.ADD
                        , 'update', GUP.UPDATE
                        , 'delete', GUP.DELETE
                )), '[]')
                FROM BASE_PERMISSION_GROUP GUP
                WHERE UPPER.SEQ = GUP.CATEGORY_SEQ
                    AND GUP.ACCESS              = 'Y'
                    AND GUP.IDNTF_CD            = #{idntfCd}
              ) 	AS PERMISSION
        , ( SELECT COALESCE(JSON_AGG(JSON_BUILD_OBJECT(
              -- 하위 카테고리의 PERMISSION
             'permission', ( SELECT COALESCE(JSON_AGG(JSON_BUILD_OBJECT(
                                'access',       GUP2.ACCESS
                                , 'add', 	    GUP2.ADD
                                , 'update',     GUP2.UPDATE
                                , 'delete',     GUP2.DELETE
                           )), '[]')
                           FROM BASE_PERMISSION_GROUP GUP2
                           WHERE LOWER.SEQ = GUP2.CATEGORY_SEQ
                                <!--AND GUP2.ACCESS   = 'Y'-->
                                AND GUP2.IDNTF_CD = #{idntfCd}
                            )
            , 'seq',		                    LOWER.SEQ
            , 'name', 		                    LOWER.NAME
            , 'depth', 	                        LOWER.DEPTH
            , 'upperSeq',                       LOWER.UPPER_SEQ
            , 'sort', 		                    LOWER.SORT
            , 'url', 		                    LOWER.URL
            , 'postYn', 	                    LOWER.POST_YN
            , 'categorySeq',                    GUP.CATEGORY_SEQ
            ) ORDER BY LOWER.SORT ASC), '[]')
            FROM BASE_CATEGORY LOWER
            JOIN BASE_PERMISSION_GROUP GUP
            ON      LOWER.SEQ 		 	        = GUP.CATEGORY_SEQ
              <!--  AND GUP.ACCESS 	                = 'Y'-->
                AND GUP.IDNTF_CD 	            = 'ROLE_USER'
            WHERE LOWER.DEPTH 		            = 2
            )                                   AS "midCategory"
        FROM BASE_CATEGORY UPPER
        JOIN BASE_PERMISSION_GROUP GUP
            ON UPPER.SEQ = GUP.CATEGORY_SEQ
                AND GUP.IDNTF_CD 	            = #{idntfCd}
                AND GUP.ACCESS 		            = 'Y'
        WHERE UPPER.DEPTH 			            = 1
        AND UPPER.USE_YN 			            = 'Y'
        ORDER BY UPPER.SORT ASC;
    </select>

    <select id="getTreeMenu" resultType="hashmap">
        /* 트리 목록 리스트 반환, BaseMapper_SQL.getTreeMenu */
        SELECT
              CASE WHEN B.NAME IS NULL THEN A.NAME
                    ELSE CONCAT(B.NAME, ' > ', A.NAME)
                END   AS LABEL
            , A.SEQ   AS VALUE
            , A.DEPTH
        FROM BASE_CATEGORY A
        LEFT JOIN BASE_CATEGORY B
            ON A.UPPER_SEQ = B.SEQ
        WHERE A.DEPTH <![CDATA[<]]> 2
        ORDER BY A.SORT ASC
    </select>

    <select id="getTemplateBySeq" resultType="hashmap" parameterType="hashmap">
        /* 하위 카테고리와 일치한 게시판 템플릿 검색, baseMapper_SQL.getTemplateByLowerSeq */
        SELECT
              SEQ
            , COALESCE(NOTICE, '') NOTICE
            , COALESCE(TEMPLATE, '') TEMPLATE
        FROM NOTICE
        where LOWER_SEQ = #{seq}
        AND USE_YN = 'Y';
    </select>

    <select id="getPrependBySeq" resultType="String" parameterType="hashmap">
        /* 하위 카테고리와 일치한 말머리 검색, baseMapper_SQL.getPrependBySeq */
        SELECT PREPEND
        FROM PREPEND
        WHERE upperSeq = #{seq}
    </select>

    <select id="getAuthPermission" resultType="com.vogue.base.domain.AuthPermissionVO">
        /* 모든 권한 검색, baseMapper_SQL.getAuthPermission */
        SELECT * FROM BASE_PERMISSION
        ORDER BY SORT ASC
    </select>

</mapper>
