<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vogue.base.mapper.CategoryMapper">

    <select id="getCategory" resultType="com.vogue.base.domain.CategoryVO">
        SELECT * FROM base_category;
    </select>

    <select id="duplicateName" parameterType="com.vogue.base.domain.CategoryVO" resultType="int">
        SELECT COUNT(*) FROM base_category where name = #{name}
    </select>

    <insert id="insertCategory" parameterType="com.vogue.base.domain.CategoryVO">
        INSERT INTO base_category(
            upper_seq,
            name,
            url,
            sort,
            use_yn,
            depth
        ) VALUES (
            #{upperSeq},
            #{name},
            #{url},
            #{sort},
            #{useYn},
            #{depth}
        )
    </insert>
</mapper>