<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vogue.posts.mapper.PostsMapper">

    <insert id="insertPosts" parameterType="hashmap">
        /* 게시글 등록, PostMapper_SQL.insertPosts*/
        <selectKey resultType="int" keyProperty="seq" order="BEFORE">
            SELECT COALESCE(MAX(SEQ), 0) + 1 seq FROM POSTS
        </selectKey>

        INSERT INTO posts(
              seq
            , upperSeq
            , lowerSeq
            , prepend
            , title
            , content
            , author
            , publicYn
            , commentYn
        ) VALUES(
              #{seq}
            , #{upperSeq}
            , #{lowerSeq}
            , #{prepend}
            , #{title}
            , #{content}
            , #{author}
            , #{publicYn}
            , #{commentYn}
        )
    </insert>

    <select id="selectOne" parameterType="hashmap" resultType="hashmap">
        SELECT
                P.SEQ 							 postSeq
              , BC.SEQ							 categorySeq
              , TU.SEQ 							 authorSeq
              , CASE WHEN P.PREPEND != '' THEN  '[ ' || P.PREPEND || ' ]' || P.TITLE
                    ELSE P.TITLE
                END 							 title
             , P.CONTENT
             , TU.NAME 							 authorNm
             , BC.NAME 							 cateogyNm
             , BP.IDNTF_NM
             , TU.PHOTO_URL
             , P.READCOUNT
             , P.LIKECOUNT
             , TO_CHAR(P.CREATEDAT, 'YYYY-MM-DD') createdAt
        FROM POSTS P
        JOIN TB_USER TU
            ON P.AUTHOR  = TU.SEQ
        JOIN BASE_PERMISSION BP
            ON TU.IDNTF_CD = BP.IDNTF_CD
        JOIN BASE_CATEGORY BC
            ON P.LOWERSEQ = BC.SEQ
        WHERE CAST(P.SEQ AS VARCHAR)        = #{posts}
            AND CAST(P.LOWERSEQ AS VARCHAR) = #{category}
    </select>

</mapper>
