<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vogue.user.mapper.UserMapper">

    <!-- 회원가입 로직 -->
    <select id="duplicateEmail" parameterType="com.vogue.user.domain.SignUpVO" resultType="int">
        SELECT COUNT(*) FROM tb_user WHERE email = #{email}
    </select>

    <select id="duplicateUser" parameterType="com.vogue.user.domain.SignUpVO" resultType="int">
        SELECT
            COUNT(*)
        FROM tb_user
        WHERE name = #{name}
            AND tel = #{tel}
    </select>

    <insert id="signUpUser" parameterType="com.vogue.user.domain.SignUpVO">
        insert into tb_user (
            email,
            password,
            name,
            nickname,
            tel
        ) values (
            #{email},
            #{password},
            #{name},
            #{nickname},
            #{tel}
        );
    </insert>

    <!-- 로그인 로직 -->
    <select id="findByEmail" parameterType="com.vogue.user.domain.SignInVO" resultType="int">
        SELECT COUNT(*)
        FROM tb_user
        WHERE email = #{email}
    </select>

    <select id="signInUser" parameterType="com.vogue.user.domain.SignInVO" resultType="com.vogue.user.domain.UserVO">
        /* 로그인, userMapper_SQL.signInUser */
        SELECT
            TU.SEQ
            , TU.EMAIL
            , TU.password
            , TU.NAME
            , TU.NICKNAME
            , TU.TEL
            , TU.PHOTO_URL
            , TU.IDNTF_CD
            , TO_CHAR(TU.CREATED_AT, 'YYYY-MM-DD') AS CREATED_AT
            , BP.IDNTF_NM
        FROM TB_USER TU
        JOIN BASE_PERMISSION BP
        ON TU.IDNTF_CD      = BP.IDNTF_CD
        WHERE TU.EMAIL      = #{email}
            AND TU.password = #{password}
    </select>

    <!-- 이메일 찾기 -->
    <select id="getEmail" parameterType="com.vogue.user.domain.SignUpVO" resultType="String">
        SELECT email
        FROM tb_user
        WHERE name = #{name}
            AND tel = #{tel}
    </select>

    <!-- 비밀번호 찾기01 회원여부 확인 -->
    <select id="getEmailCount" parameterType="com.vogue.user.domain.EmailVO" resultType="int">
        SELECT COUNT(*)
        FROM tb_user
        WHERE email = #{email}
            AND name = #{name}
            AND tel = #{tel}
    </select>

    <!-- 비밀번호 찾기02 임시 비밀번호 발급  -->
    <update id="issuanceTmpryPwd" parameterType="com.vogue.user.domain.EmailVO">
        UPDATE tb_user
        SET password = #{password}
        WHERE email = #{email}
    </update>
    <!--


    // DB INSERT
    INSERT INTO db_table(id, password) VALUES('entered id', crypt('entered password', gen_salt('md5')));

    // DB UPDATE
    UPDATE ... SET pswhash = crypt('new password', gen_salt('md5'));

    // 비밀번호 검증
    SELECT id
    FROM db_table
    WHERE password = crypt('entered password', password);


    -->
</mapper>