<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vogue.admin.category.mapper.CategoryMapper">

    <select id="insertCategory" parameterType="com.vogue.base.domain.CategoryVO" resultType="int">
        /* 카테고리 등록 후 RETURNING을 통해 SEQ 반환, CategoryMapper_SQL.insertCategory */
        INSERT INTO BASE_CATEGORY (
              UPPER_SEQ
            , NAME
            , URL
            , SORT
            , USE_YN
            , POST_YN
            , DEPTH
        ) VALUES (
              #{upperSeq}
            , #{name}
            , #{url}
            , #{sort}
            , #{useYn}
            , #{postYn}
            , #{depth}
        )
        RETURNING SEQ
    </select>

    <insert id="insertCategoryPermissionGroup" parameterType="com.vogue.admin.category.domain.CategoryPermissionVO">
        /* 카테고리 권한 등록, CategoryMapper_SQL.insertCategoryPermissionGroup */
        INSERT INTO BASE_PERMISSION_GROUP (
              IDNTF_CD
            , CATEGORY_SEQ
            , ACCESS
            , ADD
            , UPDATE
            , DELETE
        ) VALUES (
              #{idntfCd}
            , #{categorySeq}
            , #{access}
            , #{add}
            , #{update}
            , #{delete}
        )
    </insert>

    <update id="updateCategory"  parameterType="com.vogue.base.domain.CategoryVO">
        /* 카테고리 정보 수정, CategoryMapper_SQL.updateCategory */
        UPDATE BASE_CATEGORY SET
           UPPER_SEQ =  #{upperSeq}
         , NAME      =  #{name}
         , URL       =  #{url}
         , SORT      = #{sort}
         , USE_YN    = #{useYn}
         , POST_YN   = #{postYn}
         , DEPTH     =  #{depth}
        WHERE SEQ    = #{seq}
    </update>

    <select id="selectOneCategory" parameterType="hashmap"  resultType="hashmap">
        /* seq 값을 가진 카테고리의 상세항목 조회, CategoryMapper_SQL.selectOneCategory */
        SELECT SEQ
             , NAME
             , URL
             , SORT
             , POST_YN     AS "postYn"
             , USE_YN      AS "useYn"
             , DEPTH
             , UPPER_SEQ   AS "upperSeq"
        FROM BASE_CATEGORY
        WHERE SEQ          = #{seq}
    </select>

    <select id="selectOneCategoryPermission" parameterType="hashmap"  resultType="hashMap">
        /*  카테고리 권한 조회, CategoryMapper_SQL.selectOneCategoryPermission */
        SELECT A.SEQ
             , A.IDNTF_CD   AS "idntfCd"
             , B.IDNTF_NM   AS "idntfNm"
             , A.ACCESS
             , A.ADD
             , A.UPDATE
             , A.DELETE
        FROM BASE_PERMISSION_GROUP A
        JOIN BASE_PERMISSION B
            ON B.IDNTF_CD   = A.IDNTF_CD
        WHERE CATEGORY_SEQ  = #{seq}
        ORDER BY SORT ASc
    </select>

    <delete id="deleteCategoryPermissionGroup" parameterType="com.vogue.base.domain.CategoryVO">
        /* 카테고리 권한 삭제, CategoryMapper_SQL.deleteCategoryPermissionGroup */
        DELETE FROM BASE_PERMISSION_GROUP
        WHERE CATEGORY_SEQ = #{seq}
    </delete>

    <delete id="deleteCategory" parameterType="hashmap">
        /* 카테고리, 템플릿 삭제, CategoryMapper_SQL.deleteCategory */
        DELETE FROM NOTICE
        WHERE LOWER_SEQ    = #{seq};

        DELETE FROM BASE_PERMISSION_GROUP
        WHERE CATEGORY_SEQ = #{seq};

        DELETE FROM BASE_CATEGORY
        WHERE SEQ          = #{seq}
    </delete>

</mapper>
