<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vogue.admin.posts.mapper.NoticeMapper">

    <insert id="insertNotice" parameterType="hashmap">
        /* 템플릿 등록, NoticeMapper.insertNotice */
        <selectKey keyProperty="seq" order="AFTER" resultType="int">
            SELECT CURRVAL('notice_seq') AS SEQ
        </selectKey>

        INSERT INTO NOTICE (
              UPPER_SEQ
            , LOWER_SEQ
            , TITLE
            , NOTICE
            , TEMPLATE
            , USE_YN
        ) VALUES (
            #{upperSeq},
            #{lowerSeq},
            #{title},
            #{notice},
            #{template},
            #{useYn}
        )
    </insert>

    <update id="updateNotice" parameterType="hashmap">
        /* 템플릿 수정, NoticeMapper.updateNotice */
        UPDATE NOTICE SET
              UPPER_SEQ   = #{upperSeq}
            , LOWER_SEQ   = #{lowerSeq}
            , TITLE       = #{title}
            , NOTICE      = #{notice}
            , TEMPLATE    = #{template}
            , USE_YN      = #{useYn}
            , UPDATED_AT  = NOW()
        WHERE SEQ         = #{seq}
    </update>

    <update id="updateNoticeUseYn" parameterType="hashmap">
        /* 템플릿 수정 시 UPPER_SEQ, LOWER_SEQ와 일치하는 모든 공지사항 USE_YN 변경,  NoticeMapper.updateNoticeUseYn*/
        UPDATE NOTICE SET
            USE_YN = 'N'
        WHERE UPPER_SEQ    = #{upperSeq}
            AND LOWER_SEQ  = #{lowerSeq}
    </update>

    <insert id="insertPrepend" parameterType="hashmap">
        /* 말머리 등록 */
        <foreach collection="prepend"  item="item" separator=";">
            INSERT INTO PREPEND (
                  UPPERSEQ
                , PREPEND
            ) VALUES (
                #{seq},
                #{item}
            )
        </foreach>
    </insert>

    <delete id="deletePrepend" parameterType="hashmap">
        /* 말머리 삭제, NoticeMapper.deletePrepend */
        DELETE FROM PREPEND WHERE UPPERSEQ = #{seq}
    </delete>

    <select id="selectOnePrepend" parameterType="hashmap" resultType="hashmap">
        /*  게시글에 맞는 말머리 리스트 검색,  NoticeMapper.selectOnePrepend */
        SELECT PREPEND, UPPERSEQ FROM PREPEND WHERE UPPERSEQ = #{seq}
    </select>

    <select id="selectNoticeCount" parameterType="hashmap" resultType="int">
        select count(*) from (
            select
                n.seq,
                n.title as content,
                case when n.use_yn = 'Y' then '사용'
                else '미사용'
                end "useYn",
                to_char(n.created_at, 'yyyy-mm-dd') as "createdAt",
                n.notice,
                n.template,
                n.upper_seq,
                n.use_yn,
                bc.name as category
            from notice n
            join base_category bc on n.lower_seq = bc.seq
            where 1 = 1
            <if test="option == 'title' and value != ''">
                and n.title like concat('%', #{value}, '%')
            </if>
            <if test="option == 'upperSeq' and value != ''">
                and n.upper_seq = #{value}
            </if>
            <if test="option == 'useYn' and value != ''">
                and n.use_yn = #{value}
            </if>
        ) a
    </select>

    <select id="selectNoticeList" parameterType="hashmap" resultType="hashmap">
        select
            n.seq,
            n.title as content,
            case when n.use_yn = 'Y' then '사용'
                else '미사용'
            end "useYn",
            to_char(n.created_at, 'yyyy-mm-dd') as "createdAt",
            n.notice,
            n.template,
            n.upper_seq,
            n.use_yn,
            bc.name as category
        from notice n
        join base_category bc on n.lower_seq = bc.seq
        where 1 = 1
        <if test="option == 'title' and value != ''">
            and n.title like concat('%', #{value}, '%')
        </if>
        <if test="option == 'upperSeq' and value != ''">
            and n.upper_seq = #{value}
        </if>
        <if test="option == 'useYn' and value != ''">
            and n.use_yn = #{value}
        </if>
        order by n.created_at desc
        limit #{maxPages} offset #{offset}
    </select>

    <select id="selectOneNotice" parameterType="hashmap" resultType="hashmap">
        /*  템플릿 데이터 상세 조회,  NoticeMapper.selectOneNotice */
        SELECT
              SEQ
            , TEMPLATE
            , NOTICE
            , LOWER_SEQ     AS "lowerSeq"
            , UPPER_SEQ     AS "upperSeq"
            , USE_YN        AS "useYn"
            , CREATED_AT    AS "createdAt"
            , TITLE
        FROM NOTICE
        WHERE SEQ           = #{seq}
    </select>

    <delete id="deleteNotice" parameterType="hashmap">
        /*  템플릿 삭제,  NoticeMapper.deleteNotice */
        DELETE FROM NOTICE WHERE SEQ = #{seq}
    </delete>
</mapper>
