<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vogue.admin.schedule.mapper.ScheduleMapper">

    <select id="getScheduleList" parameterType="hashmap" resultType="hashmap">
        SELECT
             id
            ,title
            ,start
            ,"end"
            ,color
            ,textColor as "textColor"
            ,display
        FROM schedule
        WHERE 1 = 1 AND (
        <if test="start != end">
            start BETWEEN #{start} AND #{end} OR
            "end"   BETWEEN #{start} AND #{end}
        </if>
        <if test="start == end">
            #{start} BETWEEN start AND "end" OR
            #{end}   BETWEEN start AND "end"
        </if>
        )
    </select>

    <select id="getSchedule" parameterType="hashmap" resultType="hashmap">
        SELECT
             s.id
            ,s.title
            ,s.content
            ,s.day_start as "dayStart"
            ,s.time_start as "timeStart"
            ,s.start as start
            ,s.day_end as "dayEnd"
            ,s.time_end as "timeEnd"
            ,s.end
            ,s.display
            ,s.color
            ,s.textcolor as "textColor"
            ,s.author
            ,TU.NAME
        FROM SCHEDULE S
        JOIN TB_USER TU ON S.AUTHOR = TU.SEQ
        WHERE S.ID = CAST(#{id} as INTEGER)
    </select>

    <insert id="insertSchedule" parameterType="hashmap">
        INSERT INTO schedule (
            title,
            content,
            start,
            "end",
            day_start,
            day_end,
            time_start,
            time_end,
            display,
            color,
            textColor,
            author
        ) VALUES (
            #{title},
            #{content},
            #{start},
            #{end},
            #{dayStart},
            #{dayEnd},
            #{timeStart},
            #{timeEnd},
            #{display},
            #{color},
            #{textColor},
            #{author}
        )
    </insert>

</mapper>
